<h1>Contact Form</h1>
<br/>
<br/>
<h4>Send a message to <%= @designer.name %></h4>

Name:<br/> <textarea rows="1"></textarea><br />
Subject:<br/> <textarea rows="1"></textarea><br />
Message:<br/> <textarea rows="5"></textarea><br/>
<button class="btn btn-inverse">Send message</button>
