<h1>Client Info</h1>


<ul class="nodots">
  <li><%= @user.name %></li>
  <li>Tags:</li>
  <ul>
    <% @user.tags.each do |tag| %>
        <li><i class="icon-tag"></i> <%= tag.name %></li>
    <% end %>
  </ul>
</ul>


<h2>Portfolio Images</h2>
<% @user.portfolios.each do |portfolio| %>
    <div class="instaclass"><%= image_tag portfolio.image_path %></div>
<% end %>

<p></p>

<%= button_to "Save Designer", save_designer_path(@user.id), class: 'btn btn-inverse'   %>

