<h1>Client Info</h1>


<ul>
  <li><%= @user.name %></li>
  <li>Tags:</li>
  <ul>
    <% @user.tags.each do |tag| %>
        <li><%= tag.name %></li>
    <% end %>
  </ul>
</ul>


<h2>Portfolio Images</h2>
<% @user.portfolios.each do |portfolio| %>
    <%= image_tag portfolio.image_path %>
<% end %>

<%= button_to "Save Designer", save_designer_path(@user.id)  %>

