<body class="about">

<div class="transbox">
  <h1>InteriorConnect</h1>

  <p>Looking to revamp your space? Find interior designers who <em>specialize in your style.</em> <br />
    Just sign up as a client and search for a style. Connect easily with designers who match you. <br />
  Interior designer looking to be hired? Just sign up as a designer, add photos of your work<br />
    to your portfolio using Instagram, and tag your profile so clients can <em>search for you</em>!
  </p>
</div>
</body>

