<h1>Hi, its the index</h1>

<form action='/search' method='get'>
  <input name="username" type="text">
  <button type="submit">Go</button>
</form>



<% @instagram.each do |instagram| %>

    <%= image_tag instagram.images.standard_resolution.url %>

<% end %>