body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
    background-image: url("brickwall.png");
}

.navbar-inner {
    text-align: center;
    min-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
    *zoom: 1;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar-inner li  {
    text-transform: none;
    font-size: 1.2em;
    display: inline;
    border-right: 1px solid #009;
    padding: 0 10px;
}

.navbar-inner li:last-child { border-right: none}


.navbar-inner a {
    color: #000;

}

.navbar-inner a:hover {
    color: #c2374c;
    text-decoration: none;
    text-transform: none;
}

.instaclass {
    width: 200px;
    display: inline-block;
    padding-right: 20px;
    padding-bottom: 20px;
}

.nodots li {
    list-style: none;
}

.regular {}

.alinacenter {
    margin: auto;
}

.about {
    background-image: url('industrialbed.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    text-align: center;
}

div.transbox
{
    margin-left: auto;
    width:100%;
    height:185px;
    margin-top: 48px;
    background-color:#000000;
    opacity:0.7;
}
div.transbox p
{
    text-align: center;
    margin-top: 15px;
    color:#ffffff;
    font-size: 1.2em;
}

div.transbox h1 {
    padding-top: 15px;
    color:#ffffff;
    font-weight: 200;
}

.container .transbox {
    width: 1685px;
    margin-left: -300px;
 }